# Node.js
node_modules/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# Dependency directories
.pnp/
.pnp.js

# Optional npm cache directory
.npm

# Jest coverage
coverage/

# yarn
yarn-error.log

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac files
.DS_Store

# Windows files
Thumbs.db
